---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>F1 Draft</title>
	<link rel="stylesheet" href="public/css/main.css">
</head>
<body>
	<main>
		<section id="page_header">
			{% include old/page_header.html%}
		</section>
		<section id="intro">
			{% include old/intro.html %}
		</section>
		<section id="wins">
			{% include old/wins.html %}
		</section>
		<section id="podiums">
			{% include old/podiums.html%}
		</section>
		<section id="averages">
			{% include old/averages.html%}
		</section>
		<section id="conclusion">
			{% include old/conclusion.html %}
		</section>
	</main>
	{% include old/scripts.html%}
</body>
</html>