---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>F1 Draft</title>
	<link rel="stylesheet" href="public/css/main.css">
</head>
<body>
	<main>
		<section id="page_header">
			{% include page_header_old.html%}
		</section>
		<section id="intro">
			{% include intro_old.html %}
		</section>
		<section id="wins">
			{% include wins_old.html %}
		</section>
		<section id="podiums">
			{% include podiums_old.html%}
		</section>
		<section id="averages">
			{% include averages_old.html%}
		</section>
		<section id="conclusion">
			{% include conclusion_old.html %}
		</section>
	</main>
	{% include scripts_old.html%}
</body>
</html>