---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Main Draft</title>
	<link rel="stylesheet" href="public/css/main.css">
</head>
<body>
	<header>
		<div class="placeholder">
			<span>logos, a car, something to grab the attention</span>
		</div>
	</header>
	<section id="intro">
		{% include intro.html %}
	</section>
	{% include wins.html%}
	{% include podiums.html %}
	{% include averages.html %}
	{% include conclusion.html %}
	<script src="public/js/d3.v4.js"></script>
</body>
</html>