---
---
$off-white: #f4f4f4;
$bg2: #E8E3CD;
$bg: #f6f3ea;
$warm_red: #f9423a;
$green: #3af942;
$blue: #423af9;
$dark: #171717;
$gap: 1.4rem;
$max_width: 33rem;
$text_width: $max_width - 3rem;

@import "layout", "scrolly";