.stack{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	margin: 0 auto;
	width: 100%;
}

.group{
	display: flex;
	flex-direction: column-reverse;
	margin: 0.5rem 1rem;
	width: 100%/16;
	align-items: center;
}

.block{
	width: 15px;
	order: 1;
	margin-bottom: 0rem;
}

.label{
	order: 0;
	width: 50px;
	text-align: center;
}

.count{
	order: 2;
}