@import url('https://rsms.me/inter/inter.css');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 21px;
  font-family: 'Inter', sans-serif;
  line-height: 1.75;
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  color: #171717;
  max-width: 34rem;
  margin: 3% auto;
}

p {
  margin-bottom: 1rem;
}