<section class="method_intro" id="m3_intro">
	<h2 class="subhed method_step">Method 03: How close to perfect</h2>
	<p>Winning is good, having both drivers in the podium is good too, but the best performance for a constructor is to have their drivers finish first and second, a 1-2 finish (read: "one-two finish"). A 1-2 finish means that compared to the competition of a grand prix, the drivers were in top shape, the car had no problems, and the non-racing part of the team (engineers, pit crew, etc.) were in sync and the team had a perfect weekend.</p>
</section>

<section class='scrolly-overlay'>

	<div class="scrolly">
		<!--  sticky graphic   -->
		<figure class="sticky" id="m3">&nbsp;</figure>

		<!-- step text   -->
		<article>
			<div class="step" data-index="0">
				<p>@@</p>
			</div>
			<div class="step" data-index="3">
				<p>333333333</p>
			</div>
			<div class="step" data-index="0">
				<p>@@</p>
		</article>
	</div>

</section>