<section class="part">
		<img src="../public/img/monaco1.jpg" alt="" srcset="">
		<p class="img_caption" id="circuit1">One of the most famous street circuits is in Monaco, when parts of Monte Carlo and La Condamine are closed off for the Monaco Grand Prix every May. The circuit features a combination of elevation changes, tight corners, and a narrow course, requiring intense concentration and control from the drivers.</p>
	</section>
	<section class="part">
		<img src="../public/img/spa1.jpg" alt="" srcset="">
		<p class="img_caption">The Circuit de Spa-Francorchamps was originally built in 1920 in Stavelot, Belgium and has frequently hosted the Belgian Grand Prix since 1950. Over the years the circuit drivers race on has been modified to make it safer while still leaving room for exciting races.</p>
	</section>