<section class="row">
		<h2 class="section__hed">Conclusion</h2>
		<article class="prose">
			<p>Looking back, who had the best championship season?</p>
			<section class="filler">@@ show the boxes of the best team for each metric</section>
			<p>Mercedes' 2016 season ranked first for both total wins and total podium spots, but they also had more races to compete in than the previous seasons. McLaren's 1988 season is the closest any team has gotten to a winning every race, but they were far from completing a perfect season and didn't have a lot of podium finishes. Mercedes' 2015 season had the highest percentage of possible podium spots and was one of the closest to a perfect season. Mercedes' 2017 is the closest a team has gotten to a perfect season, but it didn't very well according to the other ways we defined the "best season."</p>
			<p>All five metrics are decent ways of comparing the teams. The ones that to account for the differing number of races and drivers are slightly better because they bring the comparison to a uniform scale.</p>
			<p>In trying to define the best season, there are still many things we could try to account for: the cars, the point system used each season, the qualifying positions of each driver, etc.</p>
			<p>A more accessible conclusion from all this is that Mercedes has been performing very strongly in Formula One, ranking first in four of the five categories, and winning the Driver's Championship every year since the start of the hybrid engine era.</p>
		</article>
		<h2 class="section__hed">Methodology</h2>
		<article class="prose">
			<p>The data used for the piece came from <a href="https://www.statsf1.com">Stats F1</a>. You can find out how I cleaned and analyzed the data in this notebook: <a href="https://github.com/lennymartinez/vis-thesis/blob/master/_analysis/notebook/f1-best-championship-season.ipynb" target="_blank">Looking for the best Formula 1 season</a></p>
			<p>You can look more closely at the computed metrics for each team here:</p>
			<section class="">
				<iframe title="Different ways of defining best" aria-label="Table" id="datawrapper-chart-jy1NZ" src="//datawrapper.dwcdn.net/jy1NZ/5/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="707"></iframe><script type="text/javascript">(function() {    'use strict';    window.addEventListener('message', function(event) {        if (typeof event.data['datawrapper-height'] !== 'undefined') {            for (var chartId in event.data['datawrapper-height']) {                var iframe = document.getElementById('datawrapper-chart-' + chartId) || document.querySelector("iframe[src*='" + chartId + "']");                if (!iframe) {                    continue;                }                iframe.style.height = event.data['datawrapper-height'][chartId] + 'px';            }        }    });})();</script>
			</section>
		</article>

	</section>