<section class="row">
		<h2 class="section__hed">Conclusion</h2>
		<article class="prose">
			<p>Who really had the best championship season? It depends on how you count it. There are still many things we could account for: the cars, how many points each finishing position is worth, what position on the grid the drivers started the race in, what racing line the drivers followed.</p>
			<p class="filler">show the category cards again</p>
			<p>A more accessible insight from all this analysis is that the Merecedes team has recently been pulling a series of strong performances in Formula One, coming in first in 4 of the 5 categories. And in 2019 they’re looking great. So far this season they’ve had 7 1–2 finishes and their lowest finishing position have been ninth and a retirement at the German Grand Prix.</p>
		</article>
	</section>