	<section class="image_container">
		<section class="driver">
			<img src="http://lennymartinez.com/newhousevis-capstone/v0/public/img/drivers/schumacher.jpg" alt="" srcset="">
			<p class="caption">Michael Schumacher</p>
		</section>
		<section class="driver">
			<img src="http://lennymartinez.com/newhousevis-capstone/v0/public/img/drivers/senna_b.jpg" alt="" srcset="">
			<p class="caption">Ayrton Senna</p>
		</section>
		<section class="driver">
				<img src="http://lennymartinez.com/newhousevis-capstone/v0/public/img/drivers/hamilton_c.jpg" alt="" srcset="">
				<p class="caption">Lewis Hamilton</p>
			</section>
			<section class="driver">
				<img src="http://lennymartinez.com/newhousevis-capstone/v0/public/img/drivers/lauda_b.jpg" alt="" srcset="">
				<p class="caption">Niki Lauda</p>
			</section>
	</section>