<section class="row">
	<header>
		<h1 id="title">The Best Formula One Team</h1>
		<p id="byline">Lenny Martinez Dominguez</p>
	</header>
	<article class="prose">
		<p>In the 69-year history of the sport, over 900 men and women have raced to win the Formula One Driver's Cup. Only <strong>33</strong> drivers have held it.</p>
	</article>
	<section id="scrolly">
		<figure>
			<p>0</p>
		</figure>
		<article>
			<div class='step' data-step='1'>
				<p>STEP 1</p>
			</div>
			<div class='step' data-step='2'>
				<p>STEP 2</p>
			</div>
			<div class='step' data-step='3'>
				<p>STEP 3</p>
			</div>
			<div class='step' data-step='4'>
				<p>STEP 4</p>
			</div>
		</article>
		<section id="outro"></section>
	</section>
	<article class="prose">
			<p>But which team has had the best championship season?</p>
	</article>
</section>
</section>