<section class="row">
	<header>
		<h1 id="title">The Best Formula One Team</h1>
		<p id="byline">Lenny Martinez Dominguez</p>
	</header>
	<article class="prose">
		<p>In the 69-year history of the sport, over 900 men and women have raced to win the Formula One Driver's Cup. Only <strong>33</strong> drivers have held it.</p>
	</article>
	<section id="scrolly_bubbles">
		<figure class="sticky" id="bubble">
		</figure>
		<article>
			<div class='step' section-index="0" data-step='1'>
				<p>These 33 drivers drove for the same 16 teams.</p>
			</div>
		</article>
		<section class="outro"></section>
	</section>
	<article class="prose">
			<p>But which team has had the <em>best championship season</em>?
			<br><br>To answer this question, I'll be comparing three different ways of defining "best":<br>
			<ol>
				<li>most wins in a season</li>
				<li>most podium spots in a season</li>
				<li>best average race finishes in a season</li>
			</ol>
			</p>

	</article>
</section>
</section>