<article class="prose">
<p>A big part of doing data journalism is figuring out what metric to evaluate and how to quantify it. You'll run into these questions when you're gathering data and later when you're analyzing data. In both cases, what metric you pick and how you quantify it depends entirely on what you're trying to achieve. There isn't a single metric or way of quantifying a metric that works in every situation.</p>
<p>To illustrate this point, let's look at Formula One and try to answer the question: which Formula One team had the best championship season? We'll use the results data from every race since 1950 (Check the methodology section at the end for more information).
</p>
<p>Formula One is a form of motorsport, like NASCAR and IndyCar, where teams compete in a series of races each year. In its current iteration, ten teams with two drivers each compete in 21 races across the globe between March and November. Races have taken place in every continent except Antarctica on both street and dedicated race tracks. After each race, drivers are awarded points based on their finishing positions. Each year, the Driver's Championship goes to the driver with the most points, and the Constructor's Cup goes to the team with the most points.</p>
<section class="circuits">
	<figure>
		<img src="public/img/monaco.jpg" alt="" srcset="">
	</figure>
	<figure>
		<img src="public/img/spa.jpg" alt="" srcset ="">
	</figure>
</section>
<p>Since the first Formula One race in 1950, over 840 drivers have competed for the Driver's Championship. Only 33 have clinched it. You've likely heard of some of these champions: Michael Schumacher, Niki Lauda, Ayrton Senna, Lewis Hamilton, or Sebastian Vettel.</p>
<section class="filler">add pictures of the champions</section>

<section class="activity_graph">
	<h3>Championship producing teams</h3>
	<p id="description">Of the 16 teams that have produced champions, Ferrari is number one in both total number of championships, 15, and number of seasons participated, 70.</p>
	<figure id="championship_chart">
	</figure>
</section>
<section class="mobile">
</section>
<p></p>

<p>Looking at how we compare drivers might help us pick a definition for the best season. Some of the ways we compare drivers are:</p>
<ul>
	<li><strong>How many times they've won the Driver's Championship.</strong> Michael Schumacher leads this category, having won the Driver's Championship 7 times.</li>
	<li><strong>How many races they've won.</strong> Michael Schumacher also leads this category with 91 career wins.</li>
	<li><strong>How many podium finishes they've had <span class="footnote"><span id="f1">(first, second, or third-place finishes)</span></span>.</strong> Michael Schumacher is at the top again with 155 podium finishes.</li>
	<li><strong>What percentage of races they won.</strong> Five-time champion Juan Manuel Fangio has an impressive 46.55% win percentage, having won 24 of the 52 races he entered over his career.</li>
</ul>
<p>These metrics are used to compare drivers over their careers. We could still take any of them and use them to define the best season. If we were comparing drivers, we might say that the best season is when a driver won the most races. Using this definition, both Michael Schumacher and Sebastian Vettel won 13 races in a single season. So they would be tied for the driver with the best season. We could do something similar for teams: the best championship season is the one where the team wins the most races.</p>
</article>