<section id="intro" class="intro">
	<header>
		<h1 id="title">The best Formula 1 team</h1>
		<p id="byline">Lenny Martinez Dominguez</p>
	</header>
	<article class="prose">
		<p>In the 69-year history of the sport, over 800 men and women have raced to win the Driver's Cup. Only <strong>33</strong> drivers have held it.</p>
	</article>
	<section class="scrolly-overlay">
		<div class="scrolly">
			<!--  sticky graphic   -->
			<figure class="sticky" id="driver_bubble">
				<div class="filler"><h2>Replace me with the bubble chart</h2></div>
			</figure>
			
			<!--  step text   -->
			<article>
				<div class="step" data-index="0">
					<p>These 33 drivers raced for sixteen different teams</p>
				</div>
			</article>
			<div class="outro"></div>
		</div>
	</section>
	<article class="prose">
		<p>Of these 16 teams, who has had the <em>best</em> championship season?<br>
		To answer this question I'll be looking at the race results from the f</p>
	</article>
</section>
