<section class="row">
	<h2 class="section__hed">Best race average</h2>
	<article class="prose">
		<p>While looking at the previous podium spots, you may have noticed we treat all the podium spots the same: it doesn’t matter if you get first, second, or third as long as you’re in the top three. This is still a bit rough. After all, when you have a team with two drivers, finishing second and third is less desirable than finishing first and second or first and third.</p>
		<p>In fact, the best possible result a team can have is when one driver finishes first and the other driver finishes second—a 1–2 finish. This means that with respect to everyone else in the race, the team with a 1–2 finish performed flawlessly. The drivers were at their fittest, the cars didn’t have any sort of breakdowns, and team strategies and pit crews worked efficiently and effectively to support the drivers. A perfect season would be one where a team manages a 1–2 finish for every race.</p>
		<p>We could count how often a team has a 1–2 finish in a season and then normalize it by the number of races (in the way we did looked at races won), but can we go beyond that and see how close a team got to a perfect season?</p>
		<p>One thing we can do is calculate the average position for a team in a race. If a team Z has two drivers, X and Y, and driver X finished first, and driver Y, finished 4th, we could get the average of the two places: (1+4)/2 = 2.5 and say that the average finishing position for team Z in the race is 2.5. If driver Y had instead finished in second, the average position would have been 1.5, or perfect.</p>
		<p>If we do this for every race in the season and then find the mean of the average finishing positions for each race, we get the team’s average finishing position for the season. The best team would be the one that’s closest to 1.5.</p>
		<p>For each race in the season:</p>
		<ol>
			<li>Average each driver's finishing position if they have more than one</li>
			<li>Average the finishing positions of all the team's drivers</li>
		</ol>
		<p class="filler">Third lollipop</p>
		<p>Looking at the results now, Mercedes’s 2017 run is the best. While they did not get the highest win or podium percentage, Lewis Hamilton and Valterri Bottas did race consistently and at a high level. The lowest either of them placed was ninth (Lewis Hamilton at the Mexican Grand Prix) and they only had one retirement in the season (Bottas retired during the Spanish Grand Prix due to engine failure).</p>
	</article>
</section>