<section class="row">
	<h2 class="section__hed">Most wins in season</h2>
	<article class="prose">
		<p>The most direct way to find the best championship team is to compare the number of races each team won in their championship season. For each year we'll do the following:</p>
		<ol>
			<li>Look at the driver that won the Driver's Championship that year.</li>
			<li>Look at what team the driver was driving for.</li>
			<li>Count how many times at least one of the team's drivers finished in first. <span class="footnote">(Two drivers shared the race win in the 1951 French Grand Prix, the 1956 Argentine Grand Prix, and the 1957 British Grand Prix.)</span></li>
		</ol>
		<p>And to make things easier, let's only look at the top 10 teams.</p>
	</article>
	<section class="scrolly" id='scrolly_wins'>

		<article class="scrolly_text">
			<div class="step" section-index="1" data-step='0'>
				<section class="filler mobile">@@ table of the top 10 teams by wins in a season for mobile</section>
				<p>Going by most wins in a single season, 2016 Mercedes had the best championship season. Nico Rosberg and Lewis Hamilton won 19 of the season's 21 races, getting incredibly close to a perfect season. In that year's Spanish Grand Prix, Rosberg and Hamilton collided with each other in the first lap and were forced to retire. Later, in the Malaysian Grand Prix, Hamilton retired due to engine failure while in the lead, and Rosberg finished third.</p>
				<p>Rosberg won the Driver's Championship in 2016, becoming the 33rd driver to do so. His win came 34 years after his father Keke Rosberg's championship win in 1982, making them the second father-son pair to win the Driver's Championship.</p>
				<p>Following closely behind their 2016 season are Mercedes' 2015 and 2014 seasons. In these three years, Rosberg and Hamilton won 51 of the 59 races, cementing Mercedes' dominance in the hybrid-engine era of Formula One. Their two more recent winning seasons, 2017 and 2018, were not as dominant, with 12 and 11 total wins in each season, respectively.</p>
				<p>Filling out the rest of the top 10, there are three teams tied for fourth: Ferrari's 2002 and 2004 runs, and McLaren's 1988 run. Both of Ferrari’s seasons are remembered for their powerful cars, the F2002 and F2004 respectively, and Michael Schumacher’s blistering performance. In 1988, McLaren’s Ayrton Senna won his first of three Driver’s Championships.</p>
				<p>Behind them we have Red Bull’s 2013 run (ranked seventh), and their 2011 run (ranked 8th), part of their back-to-back championship seasons with Sebastian Vettel. In eighth we also have Mercedes’ 2017 run, McLaren’s 1984 run and Williams’ 1996 run.</p>
			</div>
			<div class="step" section-index="1" data-step='1'>
				<p>While looking at the total number of wins each team accumulated in their season is a decent place to start, it's not the best comparison. In 2016 there were 21 races in the Formula One season, while in 2015 and 2014 there were 19 races, and if we looked at the first Formula One season in 1950, there were only seven races. While Mercedes won 19 races in 2016, they had two more chances to win than in 2015 and 12 more than in 1950.</p>
				<p>To make our comparison more accurate, we should take into account the number of races in each season. We can divide the number of wins in the season by the number of races in that season, normalizing the number of wins into a percentage. And then we can compare the top 10 teams with the highest win percentage in a season.</p>
			</div>
			<div class="step" section-index="1" data-step='2'>
				<section class="filler mobile">@@ table of the top 10 teams by wins in a season for mobile</section>
				<p>At the top we have McLaren's 1988 season, the closest any team has gotten to achieving a golden season in the modern era of Formula One. Drivers Alain Prost and Ayrton Senna won every race of the season except for the Italian Grand Prix.</p>
				<p>In 88 Italian Grand Prix at Monza, Senna and Prost started first and second on the grid, but Prost was forced to retire after 34 laps due to engine problems. While leading the race and with only two laps remaining, Senna was also forced to retire due to a collision with Williams driver Jean-Louis Schlesser.</p>
				<p>Behind McLaren and Mercedes, we have Ferrari's 2002 run in third place. Michael Schumacher won his fifth Driver's Championship while driving with Rubens Barrichello for Ferrari in 2002. Together they won 15 of the season's 17 races, and 14 of those wins were in the F2002, which did not suffer mechanical issues during the season.</p>
				<p>Some new additions to the top 10 are Ferrari's 1952 and 1953 seasons, and Alfa Romeo's 1950 season. Both Ferrari's 1952 and Alfa Romeo's 1950 runs tie with McLaren's 1988 run of being a win short of a golden season. In 1950, Alfa Romeo did not participate in the Indianapolis 500 which counted towards the Formula One Driver's Championship in the early years. In 1952 and 1953, Formula One was raced using Formula Two regulations.</p>
				<section class="filler">@@ box of the team who ranked first by wins</section>
				<section class="filler">@@ box of the team who ranked first by win percentage</section>
			</div>
			
		</article>

		<figure class="sticky" id="win_plot">
		</figure>

	</section>
	<section class='outro'></section>
</section>