<section class="row">
	<h2 class="section__hed">Most wins in season</h2>
	<article class="prose">
		<p>If we were to compare drivers, we could define best as the driver who had the most championship titles (Michael Schumacher, 7 titles) or the most wins (Michael Schumacher, 90 wins). Maybe we could look for the driver who had the highest percentage of races won (Juan Manuel Fangio, 46.15% of races entered won). We could even compare things the way FiveThirtyEight did, <a href="https://fivethirtyeight.com/features/formula-one-racing/">computing Elo ratings for each driver</a> (Ayrton Senna had the highest average Elo).</p>
		<p>When looking to compare the teams, we could do similar calculations. The most direct way to find the best championship team would be to compare the number of races each team won in their championship season. The process for doing that would be to, for each year:</p>
		<ol>
			<li>look at the driver that won the Driver's cup that year</li>
			<li>look at what team that driver was driving for</li>
			<li>count how many races the team won that season</li>
		</ol>
		<p>And to make things easier, we'll only look at the top 10 teams.</p>
	</article>
	<section class="scrolly", id="scrolly_wins">
			
		<article>
			<div class='step' section-index="1" data-step='1'>
				<p>STEP 1</p>
			</div>
			<div class='step' section-index="1" data-step='2'>
				<p>STEP 2</p>
			</div>
			<div class='step' section-index="1" data-step='3'>
				<p>STEP 3</p>
			</div>
			<div class='step' data-step='4'>
				<p>STEP 4</p>
			</div>
		</article>

		<figure class="sticky" id="win_plot">
		</figure>
		<section id='outro'></section>
	</section>

</section>