<section class="row">
		<h2 class="section__hed">Most podium finishes</h2>
		<article class="prose">
			<p>If we were to compare drivers, we could define best as the driver who had the most championship titles (Michael Schumacher, 7 titles) or the most wins (Michael Schumacher, 90 wins). Maybe we could look for the driver who had the highest percentage of races won (Juan Manuel Fangio, 46.15% of races entered won). We could even compare things the way FiveThirtyEight did, <a href="https://fivethirtyeight.com/features/formula-one-racing/">computing Elo ratings for each driver</a> (Ayrton Senna had the highest average Elo).</p>
			<p>When looking to compare the teams, we could do similar calculations. The most direct way to find the best championship team would be to compare the number of races each team won in their championship season. The process for doing that would be to, for each year:</p>
			<ol>
				<li>look at the driver that won the Driver's cup that year</li>
				<li>look at what team that driver was driving for</li>
				<li>count how many races the team won that season</li>
			</ol>
			<p>And to make things easier, we'll only look at the top 10 teams.</p>
		</article>
		<section class="scrolly" id='scrolly_podiums'>
						
				<article>
					<div class="step" section-index="2" data-step='0'>
						<p>Going by wins, 2016 Mercedes had the best championship season. In that year, Nico Rosberg won the Driver's Cup for the first and only time (34 years after his dad Keke Rosberg in 1982). Nico and his teammate Lewis Hamilton also got incredibly close to having a perfect season, winning 19 of the seasons 21 races.</p>
						<p>Following closely behind their 2016 run are Mercedes's 2015 and 2014 runs. In this three-year period, Rosberg and Hamilton won an incredible 51 out of the 59 races, marking Mercedes' dominance in the hybrid-engine era of Formula One. While their performance in 2017 and 2018 has been extraordinary (Lewis Hamilton won the Driver's Cup both years), their dominance has decreased: their 2017 run is ranked 8th and their 2018 run is ranked 12th, with 12 and 11 race wins in the season respectively.</p>
						<p>Filling out the rest of the top 10, we have Ferrari's 2002 and 2004 runs (both marked by very robust Ferrari cars, the F2002 and the F2004) and McLaren's 1988 run (the year Ayrton Senna won his first Driver's Cup). Behind them we also have Red Bull's 2011 and 2013 runs,two of the four back-to-back championship wins for Sebastian Vettel, McLaren's 1984 run, and Williams' 1996 run, where Williams driver Damon Hill also won his one and only championship cup 34 years after his father, Graham Hill, won.</p>
					</div>
					<div class="step" section-index="2" data-step='1'>
						<p>While looking at the absolute number of wins each team in their season is a good place to start, it's not the best comparison. In 2016 there were 21 races in the Formula One season, while in 2015 and 2014 there were 19 races, and if we look at the first Formula One season in 1950, there were only 7 races.</p>
						<p>To make our comparison more accurate, we should take into account the number of races in each season. To do this, we can divide the number of wins in the season, by the number of races in that season. And then we can compare the top 10 teams with the highest percentage of races won in a season.</p>
					</div>
					<div class="step" section-index="2" data-step='2'>
						<p>Mercedes's 2016 run is narrowly pushed to second by McLaren's 1988 run, who are the closest team to achieving a perfect season in the modern era of Formula One. In 1988, McLaren drivers Alain Prost and Ayrton Senna won every race of the season except for the Italian Grand Prix.</p>
						<p>In that race, Senna and Prost started first and second on the grid, but Prost was forced to retire after 34 laps due to engine problems. While leading the race and with only two laps remaining, Senna was also forced to retire due to a collision with Williams driver Jean-Louis Schlesser.</p>
						<p>Behind McLaren and Mercedes we have Ferrari's 2002 run in third place. Michael Schumacher won his fifth Driver's Cup while driving with Rubens Barrichello for Ferrari in 2002. Together they won 15 of the season's 17 races, and 14 of those wins were in the F2002, which did not suffer from major breakdowns during the season.</p>
						<p>Some new additions to the top 10 are Ferrari's 1952 and 1953 runs and Alfa Romeo's 1950 run. Both Ferrari's 1952 and Alfa Romeo's 1950 runs are tied with McLaren's 1988 run of being a win short of a perfect season. In 1950, Alfa Romeo did not participate in the Indianapolis 500 which counted towards the Formula One Driver's Cup in the early years. In 1952 and 1953, Formula One was run to Formula Two regulations.</p>
					</div>
					<section class='outro'></section>
				</article>
	
				<figure class="sticky" id="podium_plot">
				</figure>
				
			</section>
	
	</section>