<section class="method_intro" id="m2_intro">
	<h2 class="subhed method_step">Method 02: Podiums in season</h2>
	<p>While looking at the number of wins in each season is a good place to start, it still doesn't tell us a lot.</p>

	<p>If we look more closely at the top three runs by win percentage, it's clear that both drivers in each run won races. Of those top three teams, each driver (with the exception of Rubens Barichello) won the Formula One Driver's cup at least once.</p>
	
	<p>So, an indicator of a team having a good season is if their drivers are both performing well. Looking at wins&mdash;which focus on the person who the race&mdash;can't tell us much about how all of a team's drivers are performing.</p>
	
	<p>It might be better though to look at podiums. The podium refers to the first, second, and third place finishers in a race. A team that is doing well would have both*(<span class="nb">in earlier seasons constructors had more than two drivers</span>) of their drivers on the podium </p>
</section>

<section class='scrolly-overlay'>

	<div class="scrolly">
		<!--  sticky graphic   -->
		<figure class="sticky" id="m2">&nbsp;</figure>

		<!--  step text   -->
		<article>
			<div class="step" data-index="0">
				<p>Looking at the raw number of podiums, Mercedes' 2014&ndash;2016 performance is still the highest. This is a testament to their dominance of the hybrid-engine era of Formula One.</p>
			</div>
			<div class="step" data-index="0">
				<p>To better compare things, we should normalize things. We should take into account the number of races in a season and the number of drivers a team has.</p>
			</div>
			<div class="step" data-index="0">
				<p>If there are \(n\) races in a season, and \(3\) podium spots per race, then it might seem like a good idea to divide the number of podiums a team got by \(3 \cdot n\) avalaible spots.</p>
			</div>
			<div class="step" data-index="0">
				<p>But, for most of the sport's history there have only been two drivers per team. So the most podium spots a team can claim is \(2 \cdot n\), where \(n\) is still the number of races in the season.</p>
			</div>
			<div class="step" data-index="0">
				<p>This is a good idea for normalizing the number of podiums a team claimed, and would work for most of the seasons. It wouldn't work for the earlier seasons where teams had more than 2 drivers on any one race. If we divided everything by \(2 \cdot n\) spots, we'd end up with certain seasons having over 100% of the podium spots when that wasn't the case.</p>
			</div>
			<div class="step" data-index="0">
				<p>Instead we can compute a flexible number of podium spots for each team by looking at the number of drivers that entered each race.</p>
			</div>
			<div class="step" data-index="0">
				<p>We can do this by going race by race in a season. If three or more drivers entered a race, the number of podium spots available for that race are three. Else the number of podium spots are the number of drivers who entered the race.</p>
			</div>
			<div class="step" data-index="0">
				<p>If we do this for every race in each season, we have a total number of podium spots we can divide by. Looking at Mercedes's 2016 run again, the percentage we would compute would be:</p>
					<p>\(\frac{33}{42}= 0.7857 \) or \(78.57\% \)</p>
			</div>
			<div class="step" data-index="2">
				<p>Doing this for every other championship run gives us:</p>
			</div>
			<div class="step" data-index="0">
				<p>And Mercedes's 2016 run which ranked first in both number of podium spots and wins and second in terms of win percentage, is fifth in terms of the percentage of available podium spots claimed.</p>
			</div>
			<div class="step" data-index="0">
				<p>McLaren's 1988 run which had the highest win percentage came in sixth in terms of podium percentages.</p>
			</div>
			<div class="step" data-index="0">
				<p>Ferrari's 2002 run which was third in win percentage came in fourth in terms of podium percentages.</p>
			</div>
			<div class="step" data-index="0">
				<p>At the top of this list we now have Mercedes's 2015 run followed by their 2014 run. In 2015, Rosberg and Hamilton were both on podium for 15 of the 19 races. In 2014 it was 13 of the 19 races.</p>
			</div>
			<div class="step" data-index="0">
				<p>Mercedes's performance in these two years set the pace for their domination of the hybrid-engine era, which started in 2014. Ahead of the 2014 season the FIA (Formula One's managing body) changed engine regulations, moving away from the 2.4-litre V8 engines to 1.6-litre V6 turbocharged engines. <span class="nb">I'm a bit stuck on what/how much to talk about each run.</span>
				</p>
			</div>
			<div class="step" data-index="0">
				<p>Right behind them is Ferrari's 2004 run, where Schumacher and Barrichello together claimed 29 podiums over the course of the season's 18 races. They were both on podium for 10 of those races.</p>
			</div>

		</article>
	</div>

</section>

<section class='filler_interactive'>
	<h3>Interactive graph for the wins</h3>
	<p>@@Have a look at the data yourself@@</p>
	<br>
</section>