<section class="row">
	<h2 class="section__hed">Most podiums in a season</h2>
	<article class="prose">
			<p>While starting out by looking at which team won the most races in their run is good, it doesn't tell us everything. Looking at wins focuses on who the best driver for any given race was, and teams have more than one driver at any given race (caveat: check where this isn't the case). If we really want to look for the best team performance we have to more broadly look at the teams. Next to winning the race, the best finish a driver can aim for is being on the podium with the winner&mdash;finishing second or third. So let's look at podiums.</p>
	</article>
	<section id="scrolly_podiums">
		<figure class="sticky" id="podium_plot">
		</figure>
		<article>
			<div class="step" section-index="2" data-step='0'>
				<p>These 33 drivers drove for the same 16 teams.</p>
			</div>
			<div class="step" section-index="2" data-step='1'>
				<p>These 33 drivers drove for the same 16 teams.</p>
			</div>
			<div class="step" section-index="2" data-step='2'>
				<p>These 33 drivers drove for the same 16 teams.</p>
			</div>
			<div class="step" section-index="2" data-step='3'>
				<p>These 33 drivers drove for the same 16 teams.</p>
			</div>
		</article>
		<section class="outro"></section>
	</section>
</section>