<script src="v0/public/js/d3.v4.js"></script>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		"HTML-CSS": {
			preferredFont: "TeX",
			scale: 50
		},
		tex2jax: {
			inlineMath: [ ['$','$'], ["\\(","\\)"] ],
			displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
			processEscapes: false,
		}
	});
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<script src="http://lennymartinez.com/newhousevis-capstone/v0/public/js/highcharts.js"></script>
<script src="http://lennymartinez.com/newhousevis-capstone/v0/public/js/intersection-observer.js"></script>
<script src="http://lennymartinez.com/newhousevis-capstone/v0/public/js/stickyfill.js"></script>
<script src="http://lennymartinez.com/newhousevis-capstone/v0/public/js/scrollama.js"></script>
