<script src="public/js/d3.v4.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.js"></script>
<script src="https://unpkg.com/scrollama"></script>
<script src="public/js/sucker_chart-sc7.js"></script>
<script src="public/js/scrolly7-sc7.js"></script>