.p__header{
	width: 100%;
	height: $gap * 10;
	background-color: $warm_red;
}
.filler {
	width: 100%;
	height: 800px;
	background-color: $green;
}

* {
	box-sizing: border-box;
}

br {
	margin-top: $gap !important;
}
html, body {
	margin: 0;
	padding: 0;
	font-size: 21px;
	line-height: 1.65;
}

body {
	font-family: sans-serif;
	min-height: 1280px;
	min-width: 300px;
	background-color: $bg2;
	color: $dark;

	p {
		// max-width: 33rem;
		margin: 0 auto;
	}
}
main {
	display: flex;
	flex-direction: column;
}

header {
	text-align: center;
	margin: 0 0.9*$gap;
	#title {
		margin-bottom: 0;
		font-size: 2.2rem;
	}
	#byline {
		font-size: 0.75rem;
	}
}
article.prose {
	font-size: 1rem;
	padding: 0 $gap;
	margin: $gap auto 0 auto;
	width: $max_width;
	
	p {
		margin-top: $gap;
		width: $text_width;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: $gap;
		}
	}
}

.section__hed {
	text-align: center;
	margin: $gap 0 $gap 0;
}

.static_chart {
	display: block;
	margin: $gap auto;
	width: $max_width;

}

figure#stacked_bar {
	max-width: $max_width;
	height: 100vh;
	margin: 0 auto;
}