#merc2015 {
	max-width: 800px;
	margin: 3rem auto 0 auto;
	height: 700px;

	table {
		width: 90%;

		td {
			width: 20% !important;
		}

	
		.table_header {
			text-align: center;
			font-weight: bold;
			text-decoration: underline;

			.head:first-of-type {
				text-align: right;
			}
		}

		.race {
			text-align: right;
			font-weight: bold;
		}

		.result {
			text-align: center;
		}

	}
}