#scrolly, #scrolly_wins, #scrolly_podiums, #scrolly_averages {
	position: relative;
	// background-color: #f3f3f3;
	padding: 0rem;

	p {
		padding: $gap 0;
	}
}

article {
	z-index: 1000;
	position: relative;
	padding: 0;
	margin: 0 auto;
}

figure {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	width: 100%;
	margin: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.step {
	margin: 0 auto 2rem auto;
	color: $dark;
	width: 30rem;
	padding: $gap;
}

.step:last-child {
	margin-bottom: 0;
}

.step.is-active p {
	background-color: goldenrod;
	color: #3b3b3b;
}

.step p {
	text-align: center;
	background-color: $dark;
	color: $bg;
}

#outro {
	height: 640px;
}