.filler {
	width: 100vw;
	background-color: $warm_red;
	p {
		margin:0;
	}
}

.filler2 {
	background-color: $green;
}


h1, h2, h3, h4, h5, h6 {
	padding: 0;
	text-align: center;
}

p {
	// padding: 0;
	// max-width: 30rem;
	margin: $gap auto;
	// text-align: left;
}


#intro {
	#title {
		margin-bottom: 0;
		// font-size: 3rem;
	}
	#byline {
		text-align: center;
		margin-top: 0;
	}

}


.scrolly-overlay, .scrolly {
	max-width: 100rem;
	article {
		padding: 0;
		max-width: 30rem;
		margin: 1rem auto 0 auto;
		position: relative;

		.filler {
			min-height: 90vh;
			margin-bottom: 3rem;
		}

		.step {
			min-height: 67vh;
			margin-bottom: 15rem;
			
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		p {
			margin: 0;
			padding: 0.8rem;
			text-align: center;
			font-weight: 400;
			background-color: $off-white;
			color: $dark;
		}
	}
}

figure.sticky {
	position: sticky;
	width: 100%;
	height: 100%;
	margin: 0;
	top: 0;
}

.stuck {
	position:fixed;
	top:0;
}

// #scrolly_intro {
// 	width: 100%;
// 	height: 100%;
// }

#driver_bubble {
	svg {
		display: block;
		margin: 0 auto;
	}
}