---
---
$gray-dark: #5b5b5b;
$gray: #969696;
$off-white: #f4f4f4;
$bg: #E8E3CD;
$primary: goldenrod;
$secondary: teal;
$red: #f9423a;
$green: #3af942;
$blue: #423af9;

html {
  font-size: 21px;
  line-height: 1.65;
}
.filler{
  height: 20rem;
}

#scrolly-overlay .scrolly {
  max-width: 100rem;
  // margin: 1.4rem auto;
  background-color: $bg;
  // padding: 1rem;

  article {
    padding: 0;
    max-width: 30rem;
    margin: 0 auto;
    position: relative;

    .step {
      min-height: 75vh;
      margin-bottom: 1rem;
      &:last-of-type {
        margin-bottom: 0;
      }
      &.is-active {
        p {
          background-color: $green;
        }
      }
    }
    p {
      margin: 0;
      padding: 1rem;
      text-align: center;
      font-weight: 400;
      background-color: $red;
      transition: background-color 250ms ease-in-out;
      color: $off-white;
    }
  }
}


figure.sticky {
  position: sticky;
  width: 100%;
  height: 100%;
  // background: $gray;
  margin: 0;
  top: 0;
}