---
---
$off-white: #f4f4f4;
$bg: #E8E3CD;
$red: #f9423a;
$green: #3af942;
$blue: #423af9;
$dark: #111;

html {
  font-size: 21px;
  line-height: 1.65;
}

.filler-segment{
  height: 20rem;
}

.scrolly-overlay .scrolly {
  max-width: 100rem;
  background-color: $bg;

  article {
    padding: 0;
    max-width: 30rem;
    margin: 0 auto;
    position: relative;

    .filler {
      min-height: 67vh;
      margin-bottom: 3rem;
      // &:last-of-type {
      //   margin-bottom: 0;
      // }
    }

    .step {
      min-height: 75vh;
      margin-bottom: 3rem;
      &:last-of-type {
        margin-bottom: 0;
      }
      &.is-active {
        p {
          background-color: $green;
        }
      }
    }
    p {
      margin: 0;
      padding: 1rem;
      text-align: center;
      font-weight: 400;
      background-color: $off-white;
      transition: background-color 250ms ease-in-out;
      color: $dark;
    }
  }
}


figure.sticky {
  position: sticky;
  width: 100%;
  height: 100%;
  // background: $gray;
  margin: 0;
  top: 0;
}