---
---
$off-white: #f4f4f4;
$bg: #E8E3CD;
$red: #f9423a;
$green: #3af942;
$blue: #423af9;
$dark: #111;

html {
	font-size: 21px;
	line-height: 1.65;
	margin:0;
	padding: 0;
}

body {
	background-color: $bg;
}
.filler-segment{
	height: 20rem;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	text-align: center;
	margin: 1.3rem auto;
}

p {
	padding: 0;
	max-width: 30rem;
	margin: 0 auto;
	text-align: left;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.counters {
	font-size: 0.75rem;
	width: 20rem;
	margin: 0.8rem auto;
}

#question {
	font-size: 1.15rem;
	margin: 2rem auto;
}

.method_intro {
	margin-top: 2rem;
}

.nb {
	background: $red;
	color: white;
	padding: 5px;
	font-size: 0.6rem;
	line-height: 1.2;
}

.filler_interactive {
	height: 40rem;
	background-color: $blue;
}



.scrolly-overlay .scrolly {
	max-width: 100rem;
	// background-color: $bg;

	article {
		padding: 0;
		max-width: 30rem;
		margin: 1rem auto 0 auto;
		position: relative;

		.filler {
			min-height: 90vh;
			margin-bottom: 3rem;
		}

		.step {
			min-height: 100vh;
			margin-bottom: 25rem;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		p {
			margin: 0;
			padding: 0.8rem;
			text-align: center;
			font-weight: 400;
			background-color: $off-white;
			color: $dark;
		}
	}
}


figure.sticky {
	position: sticky;
	width: 100%;
	height: 100%;
	margin: 0;
	top: 0;
}

.picture_section {
	margin: 0;
	padding: 1.5rem 0 2rem 0;
	background-color: $off-white;
	color: $dark;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	img {
		max-width: 250px;
		margin-top: 0.2rem;
	}
}