---
---

$warm_red: #f9423a;

// .row_fix {
// 	margin-left: 0px !important;
// 	margin-right: 0px !important;
// 	width: 100% !important;
// }
header {
	background-color: $warm_red;
	height: 45vh;
	p {
		margin: 0 auto;
		padding: 5%;
	}
}