<section class="row">
	<h2 class="section__hed">Best average finish</h2>
	<article class="prose">
			<p>Thinking about podiums, the best weekend a team can have is to have both of their drivers finish first and second, a one-two finish. If a team can get a one-two finish for every race in the season, then that would be a perfect season. How close do they get to that?</p>
	</article>
	<section id="scrolly_averages">
		<figure class="sticky" id="averages_plot">
		</figure>
		<article>
			<div class="step" section-index="3" data-step='0'>
				<p>These 33 drivers drove for the same 16 teams.</p>
			</div>
			<div class="step" section-index="3" data-step='1'>
				<p>These 33 drivers drove for the same 16 teams.</p>
			</div>
			<div class="step" section-index="3" data-step='2'>
				<p>These 33 drivers drove for the same 16 teams.</p>
			</div>
			<div class="step" section-index="3" data-step='3'>
				<p>These 33 drivers drove for the same 16 teams.</p>
			</div>
		</article>
		<section class="outro"></section>
	</section>
</section>