// scrolly
.scrolly {
	margin-top: 0;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #f3f3f3;

	>* {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1
	}

}

article {
	position: relative;
	max-width: $max_width;
}

figure {
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	margin: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.step {
	margin: 0 auto;
	color: $dark;
	padding: 0 1*$gap;
	&:last-child {
		margin-bottom: 0;
	}
	&.is-active {
		// background-color: teal;
	}
	p {
		margin-top: $gap;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: $gap;
		}
	}
}